header{
    .up{
        @include flex-between-center;

        .logo, .right-side{
            
            @include flex-center-center;
            
            svg{
                font-size: nth($sz, 7);
            }
            
            
            
        }

        .right-side{
            svg{
                width: nth($sz, 10);
                fill: $grey;
                & path{
                    fill: $grey;
                }
            }

             .account-pic{
                background-color: #3367d6;
                width: 33px;
                height: 33px;

                @include flex-center-center;
                border-radius: 50%;
                color: white;

                h3{
                    font-size: nth($sz, 4);
                }
            }
        }

        span{
            font-size: nth($sz, 9);
            color: $grey;
            font-weight: 700;
            padding-bottom: nth($sz, 2)
        }
    }

    .down{

        ul{
            @include flex-start-center;

            li{
                padding-right: nth($sz, 20);
                padding-bottom: nth($sz, 3);
                list-style: none;

                a{
                    
                    text-decoration: none;
                    font-size: nth($sz, 6);
                    font-weight: 600;
                    color: $grey;

                    &:hover{
                        color: $blue;
                    }
                }

                &.active a{
                    padding-top: nth($sz, 1);
                    border-bottom: 3px solid $blue;
                    border-bottom-width: 80%;
                    padding-bottom: nth($sz, 3);
                    color: $blue;
                }
            }
        }
    }
}